=link_to content_tag(:i,nil,:class=>"icon-pencil icon-white"),edit_event_path(event),:rel=>"tooltip",'data-original-title'=>"Редактировать",:class=>"btn btn-primary"
=link_to content_tag(:i,nil,:class=>"icon-trash icon-white"),event,:method=>:delete,:confirm=>"Вы уверены, что хотите удалить событие?",:rel=>"tooltip",'data-original-title'=>"Удалить",:class=>"btn btn-danger"
